// Project name
params.project = 'epibuilder'

// Default input and output paths
params.input = 'input.fasta'
params.output_dir = 'results'

log {
    level = 'info'
}

// Process-level resource configuration
process {
    withName: run_epibuilder {
        cpus = 2
        memory = '2 GB'
    }
    withName: run_bepipred {
        cpus = 1
        memory = '1 GB'
    }
    
}

// Directory to store intermediate files
workDir = '/pipeline/work'

// Base directory to store final output
params.outdir = "${params.output_dir}"
