.form-label {
  font-weight: bold;
}

.submitButton {
  padding-bottom: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 370px;
  word-wrap: break-word;
}

.card-body {
  flex-grow: 1;
  overflow: auto;
}

label {
  font-weight: bold;
}

@media (max-width: 768px) {
  .card {
    min-height: auto;
  }
}

i {
  color: #0f72b9 !important;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #0f72b9;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #4f8cc9;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #0f72b9;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #4f8cc9;
}
