<app-navbar> </app-navbar>
<div class="container mt-4">
  <div class="d-flex justify-content-center">
    <div class="card col-4 mx-auto">
      <div class="card-header custom-header"><b>My profile</b></div>
      <div class="card-body">
        <div *ngIf="alertMessage" class="alert alert-{{ alertType }} alert-dismissible fade show" role="alert">
          {{ alertMessage }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="username"
              formControlName="username"
              readonly
            />
            <label for="username" class="form-label visually-hidden"
              >Username</label
            >
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
              placeholder="Name"
            />
            <label for="name" class="form-label visually-hidden">Name</label>
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="New Password"
            />
            <label for="password" class="form-label visually-hidden"
              >New Password</label
            >
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="confirm_password"
              formControlName="confirmPassword"
              placeholder="Confirm New Password"
            />
            <label for="confirm_password" class="form-label visually-hidden"
              >Confirm New Password</label
            >
            
          </div>
          <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i>&nbsp;Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
