.nav-link {
  color: #0f72b9;
  font-size: smaller;
}

.nav-link:hover {
  color: #0f72b9;
}

.selected-menu-item {
  background-color: #0f72b9 !important;
  color: white !important;
}

li > a {
  cursor: pointer;
}
