<app-navbar></app-navbar>

<div class="container mt-4">
  <div class="d-flex justify-content-center">
    <div class="card col-5 mx-auto">
      <div class="card-header custom-header"><b>Databases Management</b></div>
      <div class="card-body">
        <div *ngIf="alertMessage" class="alert alert-{{ alertType }} alert-dismissible fade show" role="alert">
          {{ alertMessage }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <form (ngSubmit)="onSubmit()" #databaseForm="ngForm">
          <div class="mb-3">
            <label for="file" class="form-label">Upload FASTA File</label>
            <input #fileInput type="file" class="form-control" id="file" (change)="onFileChange($event)" required
              accept=".fasta,.csv,.tsv" name="file">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!databaseForm.form.valid">
            <i class="fa-solid fa-floppy-disk"></i>&nbsp;Save
          </button>
        </form>

        <table class="table table-striped mt-3" style="text-align: center;">
          <thead>
            <tr>
              <th *ngFor="let column of columns">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="files.length === 0">
              <td class="text-center text-muted" [attr.colspan]="columns.length">
                No data available
              </td>
            </tr>
            <tr *ngFor="let file of files">
              <td>{{ file.fileName }}</td>
              <td>{{ file.date | date: 'dd-MM-yyyy' }}</td>
              <td>
                <a *ngIf="!file.fileName.includes('iedb')" (click)="confirmDelete(file)" title="Delete task">
                  <i class="fas fa-trash" style="color: #dc3545 !important; cursor: pointer;"></i>
                </a>
              </td>
            </tr>
          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" #deleteModal tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="btn-close" (click)="hideDeleteModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete file <strong>{{ fileToDelete?.fileName }}</strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="hideDeleteModal()">
          Cancel
        </button>
        <button type="button" class="btn force-bootstrap-danger" (click)="deleteDatabase()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>