<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card">
        <div class="card-header custom-header">
          <b>Real-time executions</b>
        </div>
        <div class="card-body card-scrollable">
          <table class="table table-striped table-bordered" style="text-align: center;">
            <thead class="header">
              <tr>
                <th *ngFor="let column of columns">{{ column }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="processes.length === 0">
                <td class="text-center text-muted" [attr.colspan]="columns.length">
                  No data available
                </td>
              </tr>
              <tr *ngFor="let process of processes">
                <td>{{ process.taskStatus?.pid }}</td>
                <td>{{ process.runName }}</td>
                <td>{{ process.executionDate | date : "yyyy-MM-dd 'at' HH'h'mm'min'ss'sec'" }}</td>
                <td>
                  <span class="badge bg-warning" *ngIf="process.taskStatus?.status === 'RUNNING'">
                    Running
                  </span>
                  <span class="badge bg-danger" *ngIf="process.taskStatus?.status === 'FAILED'">
                    Failed
                  </span>
                  <span class="badge bg-success" *ngIf="process.taskStatus?.status === 'FINISHED'">
                    Finished
                  </span>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>