button {
  background-color: #0f72b9 !important;
  color: white !important;
}

button:hover {
  background-color: #0f72b9;
  color: white;
}

button:focus,
button:active {
  box-shadow: none;
  outline: none;
}

.card-header, .custom-header {
  background-color: #0f72b9 !important;
  color: white !important;
}
