<div class="card">
  <div class="card-header custom-header">
    <b>Topology of Protein ID <span style="color: #ffff00;">#{{ proteinId || 'N/A' }}</span> - Epitope N <span
        style="color: #ffff00;">#{{ n || 'N/A' }}</span></b>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered text-center">
      <thead class="table-light">
        <tr>
          <th>Method</th>
          <th>Threshold</th>
          <th>Avg Score</th>
          <th>Cover</th>
          <th [attr.colspan]="getMaxTopologyLength()">Epitope</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="epitopeTopologies.length === 0">
          <td class="text-muted text-center" [attr.colspan]="4 + getMaxTopologyLength()">No data available</td>
        </tr>
        <tr *ngFor="let row of epitopeTopologies; let i = index" [ngClass]="{ 'bg-transparent text-dark': i === 0 }">
            <td [matTooltip]="getTooltip(row.method)" matTooltipPosition="above">
                {{ row.method }}
            </td>
            <td>{{ row.threshold ?? '-' }}</td>
          <td>{{ row.avgScore ?? '-' }}</td>
          <td>{{ row.cover === undefined ? '-' : (row.cover | number:'1.2-2') }}</td>
          <ng-container *ngFor="let char of getValidTopologyChars(row.topologyData)">
              <td *ngIf="char !== ''"
                  [ngClass]="getCellClass(char, i)"
                  [style.width.px]="35"
                  [style.minWidth.px]="35"
                  [style.maxWidth.px]="35"
                  style="text-align: center;">
                  {{ row.method === 'BEPIPRED' ? char : '' }}
              </td>
          </ng-container>
        </tr>
      </tbody>
    </table>

    <div class="text-muted small mt-2 me-2 text-end">
      <span
        style="width: 12px; height: 12px; background-color: #0d6efd; display: inline-block; border-radius: 2px; margin-right: 4px;"></span>
      above threshold point &nbsp;&nbsp;
      <span
        style="width: 12px; height: 12px; background-color: #dc3545; display: inline-block; border-radius: 2px; margin-right: 4px;"></span>
      below threshold point
    </div>
  </div>

  <br>

  <div class="card-header custom-header">
    <b>BLAST of Protein ID <span style="color: #ffff00;">#{{ proteinId || 'N/A' }}</span> - Epitope N <span
        style="color: #ffff00;">#{{ n || 'N/A' }}</span> - using <span style="color: #ffff00;">{{
        database?.includes('iedb') ? 'iedb' : 'custom' }}</span> database</b>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered text-center">
      <thead class="table-light">
        <tr>
          <th *ngFor="let column of blastColumns">
            <div class="d-flex flex-column">
              <span (click)="sortBy(column)" style="cursor: pointer;">
                {{ column }}
                <i *ngIf="sortColumn === column" [ngClass]="{
                  'fas fa-sort-up': sortDirection === 'asc',
                  'fas fa-sort-down': sortDirection === 'desc'
                }"></i>
              </span>
              <input type="text" class="form-control form-control-sm mt-1" [(ngModel)]="filters[column]"
                (input)="applyBlastFilters()" placeholder="Filter" />
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="blasts.length === 0">
          <td class="text-muted text-center" [attr.colspan]="blastColumns.length">No data available</td>
        </tr>
        <tr *ngFor="let row of blasts">
          <td>
            <ng-container *ngIf="row.db === 'iedb'; else plainText">
              <div class="d-flex align-items-center justify-content-center">
                <span class="me-2">{{ row.sacc }}</span>
                <a [href]="'https://www.iedb.org/epitope/' + row.sacc.split('-').pop()" target="_blank"
                  class="text-primary text-decoration-none">
                  <i class="fas fa-external-link-alt"></i>
                </a>
              </div>
            </ng-container>
            <ng-template #plainText>{{ row.sacc }}</ng-template>
          </td>

          <td>{{ row.db === undefined ? '-' : row.db }}</td>
          <td>{{ row.pident === undefined ? '-' : (row.pident | number:'1.2-2') }}</td>
          <td>{{ row.qcovs === undefined ? '-' : (row.qcovs | number:'1.2-2') }}</td>
          <td style="font-family: courier">
              {{ globalAlignNeedlemanWunsch(row.sseq)[0] }}
              <br/>
              {{ globalAlignNeedlemanWunsch(row.sseq)[1] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>