<footer class="footer bg-white text-dark py-4">
  <div class="container text-center">
    <p class="mt-3 mb-0"><strong>{{systemName}} {{currentVersion}}</strong><br>
      <small>{{currentYear}} &copy; Bioinformatics UFSC</small>
    </p>
    <div class="d-flex justify-content-center gap-4">
      <a href="https://github.com/labioinfoufsc" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>

      <a href="https://bioinformatica.ufsc.br" target="_blank">
        <i class="fa-solid fa-globe"></i>
      </a>

      <a href="https://www.instagram.com/labioinfoufsc" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>