<div class="card">
  <div class="card-header custom-header">
    <b>Topology of Epitope ID #{{ epitopeId || 'N/A' }}</b>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead class="table-light" >
        <tr>
          <th  *ngFor="let column of columns">{{ column }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="epitopeTopologies.length === 0">
          <td class="text-center text-muted" [attr.colspan]="columns.length">
            No data available
          </td>
        </tr>

        <!-- Se houver dados, exibe as linhas -->
        <tr *ngFor="let row of epitopeTopologies; let i = index">
          <td>{{ i === 0 ? row.id : '' }}</td>
          <td>{{ row.method }}</td>
          <td>{{ row.threshold }}</td>
          <td>{{ row.avgScore }}</td>
          <td>{{ row.cover }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
