.custom-header {
  background-color: #6aa5d9;
  color: white;
  padding: 10px;
}

.card-scrollable {
  max-height: 400px;
  overflow-y: auto;
}

i {
  margin-right: 10px;
  cursor: pointer;
  color: #6aa5d9 !important;
}
