<div class="card">
  <div class="card-header custom-header d-flex justify-content-between align-items-center">
    <b>Previous task runs</b>
    <button class="btn btn-sm btn-outline-secondary" (click)="refresh()" title="Clear selections" style="
        width: 32px;
        height: 32px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      ">
      <i class="fas fa-sync-alt" style="color:white!important;margin: 0;"></i>
    </button>
  </div>
  <div class="card-body p-3 card-scrollable">
    <div *ngIf="alertMessage" class="alert alert-{{ alertType }} alert-dismissible fade show" role="alert">
      {{ alertMessage }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    <table id="previousRunsTable" class="table table-striped table-bordered">
      <thead class="header">
        <tr>
          <th *ngFor="let column of columns">{{ column }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="executedTasks.length === 0">
          <td class="text-center text-muted" [attr.colspan]="columns.length">
            No data available
          </td>
        </tr>
        <tr *ngFor="let task of executedTasks" (click)="selectTask(task)"
          [ngClass]="{ 'selected-task-row': task === selectedTask }" style="cursor: pointer;">
          <td>{{ task.runName }}</td>
          <td>
            {{ task.executionDate | date : "yyyy-MM-dd 'at' HH'h'mm'min'ss'sec'" }}
          </td>
          <td>
            {{ task.finishedDate | date : "yyyy-MM-dd 'at' HH'h'mm'min'ss'sec'" }}
          </td>
          <td>
            {{ calculateExecutionTime(task.executionDate, task.finishedDate) }}
          </td>
          <td>{{ task.proteomeSize === undefined ? 0 : task.proteomeSize }} proteins</td>
          <td>
            <span class="badge bg-warning" *ngIf="task.taskStatus?.status === 'RUNNING'">
              Running
            </span>
            <span class="badge bg-danger" *ngIf="task.taskStatus?.status === 'FAILED'">
              Failed
            </span>
            <span class="badge bg-success" *ngIf="task.taskStatus?.status === 'COMPLETED'">
              Finished
            </span>
          </td>
          <td>
            <div aria-label="Actions">
              <a (click)="downloadTask(task); $event.stopPropagation()" title="Download task file">
                <i class="fas fa-download" style="color: #1dd357 !important; cursor: pointer;"></i>
              </a>
              <a (click)="showDeleteModal(task); $event.stopPropagation()" title="Delete task">
                <i class="fas fa-trash" style="color: #dc3545 !important; cursor: pointer;"></i>
              </a>
              <a (click)="selectTask(task); $event.stopPropagation()" title="View task">
                <i class="fas fa-eye" style="color: #0f72b9; cursor: pointer;"></i>
              </a>
            </div>
          </td>

        </tr>
      </tbody>
    </table>



  </div>
</div>

<div class="modal fade" #deleteModal tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="btn-close" (click)="hideDeleteModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete task
        <strong>{{ taskToDelete?.runName }}</strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="hideDeleteModal()">
          Cancel
        </button>
        <button type="button" class="btn force-bootstrap-danger" (click)="deleteTask()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>